<article class="base-category-article">
    <h1>Мебели за дома</h1>
    <p>създаваме висококачествени мебели за вашия дом със страхотна визия и най- качествени материали. Използваме ламинирано ПДЧ, фурнирован MDF, мебелен обков, механизми и аксесоари от доказани немски производители - Egger, Kaindl, Blum. За боядисаните и лакирани детайли използваме Италиански бои и лакове. Изработваме и кухни с лице от масивна дървесина (Дъб, Бук и др.) - лакирани или боядисани, състарени или не.</p>
    <p>използвайте падащото меню от ляво, за да видите повече информация и снимки.</p>
</article>
