<form class="form-login" ng-hide="getUserName()">

    <span><input type="text" placeholder="Потребител" ng-model="username"><i class="fa fa-check" aria-hidden="true" ng-hide="username.length < 4"></i></span>
    <span><input type="password" placeholder="Парола" ng-model="password"><i class="fa fa-check" aria-hidden="true" ng-hide="password.length < 4"></i></span>

    <button ng-disabled="incomplete" ng-click="login()">вход</button>

    <div class="error-msg" ng-show="error">грешен потребител и/или парола!</div>

</form>

<form ng-show="getUserName()">
    <h3>администраторски панел</h3>

    <span><input type="file" placeholder="Избери снимка" ng-model="photo"></span>

</form>