<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Механизми и аксесоари</title>
</head>
<body>

<article class="base-category-article">
    <h1>Механизми</h1>
    <p>създаваме висококачествени мебели за вашия дом със страхотна визия и най - качествени материали. Използваме ламинирано ПДЧ, фурнирован MDF, мебелен обков, механизми и аксесоари от доказани немски производители - Egger, Kaindl, Blum и други. Качествените материали и механизми гарантират дълга и безпроблемна употреба. За боядисаните и лакирани детайли използваме Италиански бои и лакове. Изработваме и кухни с лице от масивна дървесина (Дъб, Бук и др.) - лакирани или боядисани, състарени или не. Предлагаме цялостно обслужване - проектиране, изработка и монтаж на вашите мебели.</p>
    <p>използвайте падащото меню от ляво, за да видите повече информация и снимки.</p>
</article>

</body>
</html>